<div>
  <h1>Restablecer Contraseña</h1>
  <p>Si existe un perfil registrado con la direccion de correo electronico ingresada a continuacion, se enviara a la misma un link para restablecer la contraseña </p>
  <div>
    <form action="/api/v1/session/restorePasswordRequest" method="post">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="introduzca su email"
      />
      <button type="submit">Restablecer Contraseña</button>
    </form>
  </div>
</div>