<div>
  <h1>Mail de restablecimiento de contraseña enviado!</h1>
  <p>Por favor, revise el buzon de entrada de su correo electronico. Si el mail que ingreso, estaba asociado con una cuenta registrada, recibira instrucciones para restablecer su contraseña</p>
  <a href="/login">Volver al login</a>
</div>