<div>
  <h1>Restablecer Contrase単a</h1>
  <p>Por favor ingrese su nueva contrase単a</p>
  <div>
    <form action="/api/v1/session/restorePassword/{{userId}}" method="post">
      <label for="password">Nueva Contrase単a</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Introduzca su nuevo password"
        minlength="8"
        maxlength="20"
      />
      <button type="submit">Restablecer Contrase単a</button>
    </form>
  </div>
</div>